body {
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	background-image: url("dados (1).png");
	background-size:auto;
	background-repeat: repeat;
	background-attachment: fixed;
	color: yellow !important;
}
#spin {
	background-color: #FFFFFF; /* Fondo blanco para contraste */
	color: #3EB8BF; /* Texto del color del fondo para coherencia */
	padding: 10px 20px; /* Espaciado interno */
	border: 2px solid #3EB8BF; /* Borde del color del fondo */
	border-radius: 5px; /* Bordes redondeados */
	text-transform: uppercase; /* Texto en mayúsculas */
	font-weight: bold; /* Texto en negrita */
	font-size: 16px; /* Tamaño del texto */
	cursor: pointer; /* Cursor en forma de mano al pasar el ratón */
	transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar de estado */
}

#spin:hover {
	background-color: #3EB8BF; /* Fondo del color del fondo al pasar el ratón */
	color: #FFFFFF; /* Texto blanco al pasar el ratón */
}
@keyframes girar {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.tarjetilla {
	background-color: #161C21;
	border-radius: 4px;
	padding: 20px; /* Añade un padding interior */
	border: 2px solid #FFFFFF; /* Añade un borde blanco */
	display: flex; /* Utiliza flexbox para alinear elementos */
	justify-content: center; /* Centra contenido horizontalmente */
	align-items: center; /* Centra contenido verticalmente */
	text-align: center; /* Asegura que el texto también esté centrado */
}

#ruletilla {
	width: 500px;
	height: 500px;
	margin-bottom: 20px;
}
#ruleta{
	align-items: center;
}

#resultado,
#resultadom {
	display: block; /* Mostrar como bloque */
	margin-top: 10px; /* Espacio entre los divs */
	font-size: 20px;
}